@import 'reset.scss';

@font-face {
    font-family: 'munro';
    src: url('../fonts/munro/munro-webfont.woff2') format('woff2'),
         url('../fonts/munro/munro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
	font: 11px munro, sans-serif;
    font-weight: 400;
    --bg: #dd9fe0;
    --padding: .3em;
    --text-highlight-color: #00e4ff;
}

* {
	image-rendering: pixelated;
    -webkit-font-smoothing: none;
}

body {
	background: #444;
}

@mixin surface($well: false) {
    @if $well {
        border: 1px solid rgba(255,255,255,.5);
		border-top-color: rgba(0,0,0,.5);
		border-left-color: rgba(0,0,0,.5);
    } @else {
        border: 1px solid rgba(255,255,255,.5);
		border-bottom-color: rgba(0,0,0,.5);
		border-right-color: rgba(0,0,0,.5);
    }
}

#dock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    pointer-events: none;
    .window {
        position: static;
        bottom: 0;
        pointer-events: all;
        width: 10em;
        float: right;
        margin-right: 1em;
        margin-bottom: -1px;
    }
}

.window {
    background: var(--bg);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    @include surface();
    &-title {
        @include surface(true);
        background: rgba(0,0,0,.25);
        padding: 0 var(--padding);
    }
    &-contents {
        padding: var(--padding);
        dl {
            overflow: hidden;
            dt, dd {
                width: 50%;
                display: block;
                float: left;
                height: auto;
            }
            dt {
                color: var(--text-highlight-color);
            }
            dd {
                text-align: right;
            }
        }
    }
    &-area:not(:first-child) {
        border-top: 1px solid rgba(0,0,0,.5);
        box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5)
    }
    &-area {
        overflow: hidden;
        padding: var(--padding) 0;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}


#ui {
	background: var(--bg);
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
	padding: 2px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    @include surface();
	> * {
		flex: 1 1 auto;
		&:not(:last-child) {
			margin-right: 1px
		}
	}
	button {
		flex: 0 0 auto;
		appearance:none;
		-webkit-appearance:none;
		text-shadow: 1px 1px 0 #000;
		color: #fff;
		background: transparent;
		border: none;
		font-family: inherit;
		font-size: inherit;
		display: block;
        @include surface();
		&:active {
			background: rgba(0,0,0,.1);
			@include surface(true);
		}
	}
	counter {
		@include surface(true);
	}
	button, counter {
		padding: var(--padding);
	}
}

#play {
	width: 100vw;
	height: 100vh;
}

.object {
	background-size: contain;
	width: 4rem;
	height: 4rem;
	position: relative;
	float: left;
	image-rendering: pixelated;
	&.factory {
		background-image: url(../images/factory.png);
	}
	&.store {
		background-image: url(../images/store.png);
	}
	&.bank {
		background-image: url(../images/bank.png);
	}
	&.depleted {
		filter: grayscale(1);
	}
	&:hover span {
		display: block;
	}
	.money {
		background-image: url(../images/dollar.png);
		width: 2em;
		height: 2em;
		display: block;
		position: absolute;
		margin: auto;
		right: 0;
		top: 1em;
		animation: dollar-pop 1s both;
	}
	span {
		display: none;
		background: red;
		color: #fff;
		font-size: 8px;
		padding: 2px 4px;
		box-shadow: inset 1px 1px 0 0 rgba(255,255,255,.5),inset -1px -1px 0 0 rgba(0,0,0,.5);
		position: absolute;
		top: 26px;
		left: 26px;
	}
}

@keyframes dollar-pop {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-5em);
		opacity: 0;
	}
}
